.features-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 344px;

}

.features-container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}

.our-features {
    display: none;
}

.features-list {
    display: flex;
    gap: 12px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-name {
    text-align: left;
}

.feature-description {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.header-3.feature-name {
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
}