.footer {
    background-color: #2e2f42;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 344px;
}

.footer-container-wrapper {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.footer-container {
    width: 264px;
    height: 112px;
}

.footer .logo {
    color: #f4f4fd;
}

.slogan {
    color: #f4f4fd;
    text-align: left;
}