.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container-wrapper {
    display: flex;
    justify-content: flex-start;
}

.footer-container {
    width: 264px;
}

.footer .logo {
    display: inline-block;
    color: #f4f4fd;
    margin-bottom: 16px;
}

.slogan {
    color: #f4f4fd;
    text-align: left;
}