.portfolio {
    display: flex;
    justify-content: center;
    height: 1240px;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project {
    text-align: left;
}

.project-description {
    text-align: left;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    gap: 12px;
}

.header-2 {
    text-align: center;
}