.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.header-2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.employer {
    display: block;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
}

.team-photo {
    display: block;
}

.header-3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.paragraph {
    margin-top: 0;
    margin-bottom: 0;
}


.team-card-content {
    padding: 32px 16px;
}